@import url('https://fonts.googleapis.com/css2?family=Lato&family=Monsieur+La+Doulaise&display=swap');

body {
    display: grid;
    justify-items: center;
    margin: 0;
    padding: 64px;
    background: #1e1e2e;
    color: #cdd6f4;
    font-family: "Lato", sans-serif;
    font-size: 18pt;
    text-align: center;
}

h1 {
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 50pt;
    line-height: 43px;
    margin-bottom: 64px ;
}

h2 {
    margin: 0;
    font-size: 100pt;
    text-transform: uppercase;
}

footer {
    display: flex;
    position: fixed;
    bottom: 16px;
}

button {
    margin: 0 8px 0 0;
    padding: 16px;
    background: #1e1e2e;
    color: #cdd6f4;
    border: 3px solid;
    border-radius: 10px;
    font-size: 18pt;
    transition: .3s;
}

button:hover { cursor: pointer; opacity: .8; }

footer p {
    margin: 0;
    padding: 16px;
    border: 3px solid;
    border-radius: 10px;
    background: #1e1e2e;
}

#yes { margin: 0 8px 0 0; }

a { transition: 0.3s; }
a:hover { opacity: .8; }

img {
    display: none;
    position: fixed;
    bottom: 32px;
    right: 32px;
}

div {
    position: absolute;
    top: 0;
    right: 0;
    background: #1e1e2e;
    width: 100%;
    height: 100%;
    display: none;
    align-content: end;
}

div img {
    position: absolute;
    top: 16px;
    right: 24px;
}

div button {
    width: 80%;
    margin: 16px;
    padding: 8px;
}

@media (max-width: 813px) {
    body, button { font-size: 16pt; padding: 8px; }
    h1, h2 { font-size: 28pt; }
    footer { display: none; }
    img { display: block; }
}
